*{margin: 0px auto;}

.nav{display: flex;
background-color: darkgrey;}

.nav-title{display: flex;
color: white;}

ul{display: flex;
    list-style-type: none;  
    justify-content: flex-end;
    align-items: center;
    
    }

    .btn{color: white;
    background-color: #76b5c5;
box-shadow: 20px;}

.bar{margin:20px}
.nav-links{color: white;}